<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetNexusHosted" value="http://localhost:8081/repository/nuget-hosted/" />
  </packageSources>
  <packageSourceCredentials>
    <NuGetNexusHosted>
        <add key="Username" value="ricardo" />
        <add key="ClearTextPassword" value="izaskun7" />
      </NuGetNexusHosted>
  </packageSourceCredentials>
</configuration>
